@charset "UTF-8";
/* Essa propriedade serve para corrigir erros de acentuação mas não é obrigatorio */

body{
    background-image:linear-gradient(90deg, red,blue) ;
    /*background-image: radial-gradient(circle, red, blue);*/
}
p {
    color: #BF2604;
    color: rgb(blue, black, white);
}